@font-face {
  font-family: Supreme;
  src: url("/fonts/supreme.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
  
@font-face {
  font-family: Supreme;
  src: url("/fonts/supreme-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
  